body {
    font-family: Arial, sans-serif;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-container {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.image-container img {
    width: 309.15px;
    height: auto;
    cursor: pointer;
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-button.active {
    background-color: yellow;
    color: black;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
}

.navbar-logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 30px;
    width: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.navbar-search {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc; /* Add border for better visibility */
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    width: 20px; /* Adjust if necessary */
    transition: width 0.4s ease-in-out;
    padding-left: 35px; /* Increase padding to accommodate the search icon */
    background-image: url("/src/components/images/search.png");
    background-size: 20px;
    background-position: 10px center; /* Adjust position for better alignment */
    background-repeat: no-repeat;
}

.search-input:focus {
    width: 200px;
}


.search-button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.navbar-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar-login-button,
.navbar-signup-button {
    padding: 8px 15px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.company-info-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding-top: 60px;
}

.company-info-popup .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
}

.company-info-popup h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.company-info-popup p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.company-info-popup a {
    color: black;
    text-decoration: none;
}

.back-button {
    display: none;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.back-button:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
