.applications-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.application-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 20px;
}

.application-card:hover {
    transform: scale(1.02);
}

.application-details {
    flex: 1;
    padding-right: 20px;
}

.application-details h2,
.application-details h3,
.application-details p {
    margin: 10px 0;
}

.application-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.application-button img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Conditional styles */
.application-card.active {
    background-color: green;
    color: white;
}

.application-card.accepted {
    background-color: white;
    border-bottom: 3px solid green;
}

.application-card.closed {
    background-color: gray;
    color: white;
}
